*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.mario-image > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  z-index: -55;
}

.mario img {
    position: absolute;
    bottom: 40px;
    transition: all linear 0.1s;
}

.timer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  color: #fff;
  font-size: 1.5rem;
  padding: 20px 32px 0;
}

.Modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 555;
}

.btn {
  display: block;
  padding: 20px 50px;
  outline: 2px orange solid;
  border: 5px solid white;
  cursor: pointer;
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  margin: 15px 0;
  border-radius: 55px;
  background: #FFE401;
  color: #fff;
  font-size: 2rem;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  background: rgb(64, 58, 118);
  z-index: 5;
}

.hidden {
  display: none;
}

.obstacle {
  width: 10px;
  height: 30px;
  background: red;
  position: absolute;
  bottom: 43px;
  left: 50%;
}